# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Xcode User Data & Settings
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint

# Xcode Build & Derived Data
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager (SwiftPM)
.build/
.swiftpm/xcode/
!/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/registries.json
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Temporary Files & Archives
tmp/
temp/
*.zip
*.tar.gz
*.swp
*~

# Logs
*.log

# Editor / IDE Specific
.idea/
.vscode/
